/* General Styling */
    body {
        background-color: #5041fa;
        color: #fdfeec;
        /* Animation */
        background: linear-gradient(134deg, #5041fa, #352c9c, #292277);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 19s ease infinite;
        -moz-animation: AnimationName 19s ease infinite;
        animation: AnimationName 19s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }


h1 {
    margin: 4rem auto;
    font-family: 'Kanit', sans-serif;
    font-size: 14rem;
    text-align: center;
    line-height: 12rem;
    text-shadow: 5px 15px black;
}
/* End General Styling */


/* Icons section */
section {
    display: flex;
    width: 90%;
    margin: 0 auto 3rem;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.icons-and-text {
    display: inline-block;
    width: 7rem;
    margin: 10px 5rem 20px;
}

#icons-and-text-trashcan {
    display: inline-block;
    width: 7rem;
    margin: 10px 5rem 20px;
}
/* End Icons section */

/* Header and h1 */
header section div img {
    width: 7rem;
    margin: 0px auto;
}

header section div p {
    margin: 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 30px;
}
.h1-color {
    color: #e5bb3d;
}
/* End Header and h1 */

/* Form Styling */
form {
    display: flex;
    width: 69%;
    margin: 8px auto;
    flex-wrap: wrap;
    justify-content: center;
}

fieldset {
    display: flex;
    border: none;
    gap: 4rem;
}

/* Input Field Styling */
.inputs {
    background-color: #fdfeec;
    width: 14rem;
    height: 2rem;
    border: 6px solid black;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 4px 7px black;
}

/* Styling for checkbox toggle (true/false) */
.completed {
    background-color: #47ec9a;
    color: black;
    text-decoration: line-through;
    padding: 20px;
}

/* Add Task Button Styling*/
#add-task-button {
    background-color: #47ec9a;
    width: 7rem;
    height: 3.5rem;
    margin: 31px;
    border: 5px solid black;
    box-shadow: 4px 7px black;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}

#add-task-button:hover {
    background-color: #47ec9a;
    width: 7rem;
    height: 3.5rem;
    margin: 31px;
    border: 5px solid black;
    box-shadow: 2px 4px black;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}

#add-task-button:active {
    background-color: #47ec9a;
    width: 7rem;
    height: 3.5rem;
    margin: 31px;
    border: 5px solid black;
    box-shadow: 1.5px 2px black;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}
/* End Form Styling */

/* Table Styling */
table {
    background-color: #4436ec;
    color: #fdfeec;
    width: 65%;
    margin: 0 auto;
    padding: 0 13px 12px;
    border: 6px solid black;
    border-radius: 10px;
    box-shadow: 10px 22px 40px black;
    font-family: 'Kanit', sans-serif;
}

th {
    background-color: black;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px 23px;
}

td {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}
/* Checkbox Button */
.checkbox-button {
    background-color: #fdfeec;
    border: 5px solid black;
    box-shadow: 4px 4px black;
}

.checkbox-button:hover {
    background-color: #fdfeec;
    border: 5px solid black;
    box-shadow: 2px 4px black;
}

.checkbox-button:active {
    background-color: #fdfeec;
    border: 5px solid black;
    box-shadow: 1.5px 2px black;
}
/* Delete Button */
.delete-button {
    background-color: #fdfeec;
    border: 5px solid black;
    box-shadow: 4px 4px black;
}

.delete-button:hover {
    background-color: #fdfeec;
    border: 5px solid black;
    box-shadow: 2px 4px black;
}

.delete-button:active {
    background-color: #fdfeec;
    border: 5px solid black;
    box-shadow: 1.5px 2px black;
}
/* End Table Styling */